body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(53, 53, 53);
}

*::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
  border: 1px solid #a3a3a3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
